node_modules/
.DS_Store
*.log
ngrok-url.txt
.env
*.env.local
dist/
build/
myenv/
.venv/
venv/

jarvis/__pycache__/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environments
**/venv/
**/.venv/